<!--로그인 전 nav-->

<!--헤더영역-->
<header class="main_header">
    <!--홈-->
    <h1 id="header_home"><a href="/">Home</a></h1>
    <!--게시판 메뉴-->
    <div class="main_postmenu">
        <a href="/index">Post</a>
    </div>
    <!--탑메뉴-->
    <div class="main_topmenu">
        <form>
            <a href="/login" class="btn btn-outline-light">Login</a>
            <a href="/join" class="btn btn-outline-light">Join</a> 
            <a href="#" onclick="alert('회원가입 후 이용하시오.')" class="btn btn-outline-light">My</a>
        </form>                
    </div>
</header>